---
import type { Playlist } from "@lib/data";

interface Props {
  playlist: Playlist;
}
const { playlist } = Astro.props;
---

<div>
  <a
    href={`/playlists/${playlist.id}`}
    title="open playlist"
    class="recent-playlist-item flex flex-col flex-wrap gap-2 bg-[var(--interface-color)] hover:bg-[var(--interface-focus-color)] p-4 items-center rounded h-full"
  >
    <img
      src={playlist.img}
      alt={`Playlist: ${playlist.name}`}
      class="w-[170px] h-[170px] object-cover rounded"
    />
    <h3 class="w-[170px] text-normal text-left text-white text-wrap pb-3">
      {playlist.name}
    </h3>
  </a>
</div>
